@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-contain bg-center dark:bg-gray-800 dark:bg-blend-multiply;
    background-image: url('/bg.jpg');
}

.card {
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform-origin: left center;
    width: 90px;
    height: 128px;
    position: absolute;
}

.card-name {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 12px;
    font-style: italic;
    line-height: 100%;
}

.action-button {
    @apply shadow-lg hover:bg-foreground/15 hover:text-foreground/90 transition ease-in-out;
    padding-inline: 0.25rem;
    border-radius: 0.125rem;
    transition-duration: 300ms;
    background-color: hsl(var(--heroui-foreground) / 0.2);
}

.role-text {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding-inline: 0.25rem;
    border-radius: 0.125rem;
    font-size: 0.75rem;
}
